body {
  background-color: black;
  margin: 0;
}
.line {
  position: absolute;
  background-color: white;
}
.horizontal {
  width: 100%;
  height: 1px;
}
.vertical {
  width: 1px;
  height: 100%;
}
.target {
  position: absolute;
  transform: translate(-50%, -50%);
}
.tag {
  color: white;
  position: absolute;
  font-size: 38px;
  margin: 20px;
}
