* {
  box-sizing: border-box;
}
ul {
  padding: 0;
}
body {
  background-color: #ced3df;
  text-align: center;
}

button {
  outline: none;
  background: transparent;
  border: none;
  cursor: pointer;
}

.list {
  width: 400px;
  margin: auto;
  background-color: #f1f0f7;
  border-radius: 20px;
  -webkit-box-shadow: 10px 9px 5px 1px rgba(219, 215, 219, 1);
  -moz-box-shadow: 10px 9px 5px 1px rgba(219, 215, 219, 1);
  box-shadow: 10px 9px 5px 1px rgba(219, 215, 219, 1);
}

.header {
  height: 48px;
  padding: 8px;
  font-size: 24px;
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 20px 20px 0 0;
  color: white;
}

.items {
  height: 500px;
  overflow-y: auto;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 32px;
}
.item__divider {
  width: 90%;
  height: 1px;
  background-color: lightgray;
  margin: auto;
}

.item__delete {
  font-size: 16px;
  transition: all 300ms ease-in;
}

.item__delete:hover {
  color: red;
  transform: scale(1.1);
}

.footer {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  border-radius: 0 0 20px 20px;
}

.footer__input {
  width: 100%;
  height: 32px;
  border: none;
  outline: none;
  font-size: 24px;
  padding: 0 16px;
}

.footer__button {
  width: 48px;
  height: 48px;
  font-size: 28px;
  background-color: black;
  border-radius: 50%;
  color: white;
  transition: transform 300ms ease-in;
}

.footer__button:hover {
  transform: scale(1.1);
}
